<!-- CONTENEDOR FLEX PARA PROYECTOS + TEAM -->
 <app-team></app-team>
<section class="w-full px-4 md:px-6 my-10 flex flex-col lg:flex-row gap-8">



  <!-- COLUMNA DE PROYECTOS -->
  <div class="flex-1 w-full">
    
    <h2 class="text-3xl font-bold text-white mb-4 animate-fadeIn">
      Proyectos Destacados
    </h2>

    <!-- GRID RESPONSIVE SIN DESBORDAR -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">

      <!-- Mis proyectos -->
      @for (repo of myRepos; track repo) {
        <div class="card bg-black/40 backdrop-blur-lg p-4 rounded-xl shadow text-white
                    hover:scale-[1.03] transition-transform duration-300">
          
          <div class="flex items-center mb-3">
            <img [src]="repo.owner.avatar_url"
                 class="w-10 h-10 rounded-full border-2 border-yellow-400 mr-2">
            <span class="font-semibold">{{ repo.owner.login }}</span>
          </div>

          <h3 class="text-lg font-bold mb-1">
            <a [href]="repo.html_url" target="_blank" class="hover:underline">
              {{ repo.name }}
            </a>
          </h3>

          <p class="text-gray-200 text-sm">
            {{ repo.description || 'Sin descripción disponible' }}
          </p>

        </div>
      }

      <!-- Proyectos del compañero -->
      @for (repo of partnerRepos; track repo) {
        <div class="card bg-black/40 backdrop-blur-lg p-4 rounded-xl shadow text-white
                    hover:scale-[1.03] transition-transform duration-300">
          
          <div class="flex items-center mb-3">
            <img [src]="repo.owner.avatar_url"
                 class="w-10 h-10 rounded-full border-2 border-yellow-400 mr-2">
            <span class="font-semibold">{{ repo.owner.login }}</span>
          </div>

          <h3 class="text-lg font-bold mb-1">
            <a [href]="repo.html_url" target="_blank" class="hover:underline">
              {{ repo.name }}
            </a>
          </h3>

          <p class="text-gray-200 text-sm">
            {{ repo.description || 'Sin descripción disponible' }}
          </p>

        </div>
      }

    </div>
    
  </div>

</section>
<app-about-us></app-about-us>