rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{userId} {
      // Lectura para cualquier usuario autenticado
      allow read: if request.auth != null;

      // Escritura para cualquier usuario autenticado
      allow write: if request.auth != null;
    }
  }
}
